# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Dependencias de Node.js
node_modules/

# Directorio de dependencias de Composer
vendor/

# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/

# Archivos compilados de Java
*.class
*.jar

# Archivos de configuración de entorno
.env

# Archivos generados por el IDE Visual Studio Code
.vscode/

# Directorios de construcción
dist/
build/
out/

# Archivos log
*.log
